*{
    background-color: #F1F7ED;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: black;
    /*text-decoration: none;*/
}

a:hover{ /*muda a cor do link quando o mouse passa por cima*/
    color: #932629;
}

q{ /* essa tag é um elemento inline*/
    letter-spacing: 2px; /*espaçamento entre letras na citação do mj*/
    display: block; 
    text-align: center; /* centraliza o <q> */
}