*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: lightblue;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.Logo{
    font-size: xx-large;
}

.container{
    display: flex;
    flex-flow: column nowrap;
}

/*por padrão*/
.nav-menu{
    display: none;
}

.hamburguer{
    cursor: pointer;
    background: none;
    border: none;
    font-size: 25px;
}

.nav-menu.active{
    display: block;
    background-color: lightgray;
}

.nav-menu ul{
    list-style: none;
    padding: 10px;
}

/*dispositivos de tela pequena forcam os devs a ser mais atentos aos dados + importantes da pagina (pois elas que vão aparecer)*/
@media screen and (min-width: 800px){
    .hamburguer{
        display: none; /*menu desaparece na tela grande*/
    }

    .nav-menu{
        display: block; /*bloqueia o menu em exibição quando a pagina for grande*/
    }

    .nav-menu li{ /* a lista fica em linha a direita*/
        display: inline;
        padding: left;
    }

}