div{
    height: 200px;
    width: 200px;
    margin: auto;
    background-color: aqua;
    border: 2px solid black;
}

/*
    para dispositivos de tela media a div aparecera verde
*/

@media screen and (max-width: 768px){

    /*regras estabelecidas aqui não anulam as de cima*/
    
    div{
        background-color: rgb(44, 58, 139);
    }

}

/*para dispositivos de tela pequena menor que dispositivos de 480 pixel a div ocupara toda a çargura da tela*/
@media screen and (max-width: 480px) {

    div{
        width: 100%;
        background-color: brown;
    }
}
